footer {
  text-align: center;
  background: url("../img/bg.jpg");
  padding: 40px 0;
}

.text-footer {
  color: #fff;
  font-size: 1em;
  margin-top: 20px;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials li{
  margin-right:  1rem;
  margin-top: 1rem;
}

.insta, .whats{
  width: 5rem;
  transition: color .4s ease;
}

.whats {
  width: 6.3rem;
}

.whats:hover, .insta:hover {
  color: #fefefe8a;
}